body {
  margin: 0;
}
#back {
  background: linear-gradient(to bottom, #f8b195 0%, #f67280 45%, #C06C84 55%, #6C5b7b 75%, #355c7d 100%);
  background-size: cover;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 0;
}
article {
  width: 90%;
  position: absolute;
  z-index: 1;
  background: #C06C84;
  box-shadow: 0px 3px 14px 2px #6C5b7b;
  left: 0;
  right: 0;
  margin-top: 39px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
  border-radius: 5px;
  max-width: 1000px;
}
article img {
  width: 30%;
  margin: 10px 16px 4px 10px;
  border-radius: 13px;
  display: inline-block;
  vertical-align: top;
}
article h1 {
  display: inline-block;
  font-family: "Source Sans Pro";
  font-size: 40pt;
  font-weight: normal;
  color: #ffffff;
}
article h3 {
  font-family: "Source Sans Pro";
  color: #ffffff;
  font-weight: normal;
  padding: 3px 12px 8px;
  font-size: 19pt;
  margin: 0;
}
article p {
  font-family: "Source Sans Pro";
  color: #ffffff;
  font-weight: normal;
  padding: 0 12px;
  font-size: 16pt;
  margin: 0;
}
article div {
  transition: 500ms;
}
#result-rasgos img {
  margin: 0 13px;
  height: 21pt;
  filter: invert(100%);
}
.content {
  width: 90%;
  margin: 0 auto;
  border-radius: 5px;
}
.selected {
  background: #f67280;
  box-shadow: 0px 3px 14px 2px #f8b195;
  padding-bottom: 3px;
}
@media (min-width: 1024px) {
  #main {
    width: 95%;
    margin: 0 auto;
    margin-top: 5px;
  }
  #main img {
    margin: unset;
  }
  #main #questions {
    width: 33%;
    display: inline-block;
    vertical-align: top;
  }
  #main h1 {
    width: 33%;
  }
}
