@phone: ~"(min-width: 420px)";
@laptop: ~"(min-width: 1024px)";

@color0 : #355c7d;
@color1 : #6C5b7b;
@color2 : #C06C84;
@color3 : #f67280;
@color4 : #f8b195;
@colorF : #ffffff;

body {
    margin: 0;
}

#back {
    background: linear-gradient(to bottom, #f8b195 0%, @color3  45%, @color2 55%, @color1 75%,  @color0 100%);
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 0;
}

article {
    width: 90%;
    position: absolute;
    z-index: 1;
    background: @color2;
    box-shadow: 0px 3px 14px 2px @color1;
    left: 0;
    right: 0;
    margin-top: 39px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    border-radius: 5px;
    max-width: 1000px;
    & img {
        width: 30%;
        width: 30%;
        margin: 10px 16px 4px 10px;
        border-radius: 13px;
        display: inline-block;
        vertical-align: top;
    }
    & h1 {
        display: inline-block;
        font-family: "Source Sans Pro";
        font-size: 40pt;
        font-weight: normal;
        color: @colorF;
    }
    & h3 {
        font-family: "Source Sans Pro";
        color: @colorF;
        font-weight: normal;
        padding: 3px 12px 8px;
        font-size: 19pt;
        margin: 0;
    }
    & p {
        font-family: "Source Sans Pro";
        color: @colorF;
        font-weight: normal;
        padding: 0 12px;
        font-size: 16pt;
        margin: 0;
    }
    & div {
        transition: 500ms;
    }
}

#result-rasgos{
    & img {
        margin: 0 13px;
        height: 21pt;
        filter: invert(100%);
    }
}

.content {
    width: 90%;
    margin: 0 auto;
    border-radius: 5px;
}

.selected {
    background: @color3;
    box-shadow: 0px 3px 14px 2px @color4;
    padding-bottom: 3px;
}

#main {
    @media @laptop {
        width: 95%;
        margin: 0 auto;
        margin-top: 5px;
        & img {
            margin: unset;
        }
        & #questions {
            width: 33%;
            display: inline-block;
            vertical-align: top;
        }
        & h1 {
            width: 33%;
        }
    }
}